.contact-info
  %ul.social-media
    %li
      %a.tip{:href => "#{h contact.flickr_url}", :title => "Flickr Profile"}
        %img{:src => "/images/social-icons/flickr.png", :alt => "flickr icon"}
    %li
      %a.tip{:href => "#{h contact.twitter_url}", :title => "Twitter Profile"}
        %img{:src => "/images/social-icons/twitter.png", :alt => "twitter icon"}
    %li
      %a.tip{:href => "#{h contact.facebook_url}", :title => "Facebook Profile"}
        %img{:src => "/images/social-icons/facebook.png", :alt => "facebook icon"}
    %li
      %a.tip{:href =>"#{h contact.linked_in_url}", :title => "Linked InProfile"}
        %img{:src => "/images/social-icons/linkedin.png", :alt => "linkedin icon"}
  %table
    %tr
      %td e:
      %td
        %a{:href => "mailto:#{h contact.email}"}= h contact.email
    %tr
      %td t:
      %td
        %strong= h contact.phone
    %tr
      %td m:
      %td
        %strong= h contact.mobile 