.contact-info
  %ul.social-media
    %li
      %a{:href => "#{h contact.social_media.flickr_url}", :title => "Flickr Profile"}
        %img{:src => "/images/social-icons/flickr.png", :alt => "flickr icon"}
    %li
      %a{:href => "#{h contact.social_media.twitter_url}", :title => "Twitter Profile"}
        %img{:src => "/images/social-icons/twitter.png", :alt => "twitter icon"}
    %li
      %a{:href => "#{h contact.social_media.facebook_url}", :title => "Facebook Profile"}
        %img{:src => "/images/social-icons/facebook.png", :alt => "facebook icon"}
    %li
      %a{:href =>"#{h contact.social_media.linked_in_url}", :title => "Linked In Profile"}
        %img{:src => "/images/social-icons/linkedin.png", :alt => "linkedin icon"}
    %li.pdf= link_to image_tag('/images/link_icons/pdf.png'), person_url(contact, :format => :pdf), :title => "Download PDF copy"

  %table
    %tr
      %td e:
      %td
        %a{:href => "mailto:#{h contact.email}"}= h contact.email
    %tr
      %td t:
      %td
        %strong= h contact.phone
    %tr
      %td m:
      %td
        %strong= h contact.mobile 