- semantic_form_for person, :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :name
    = f.input :job_title
    = f.input :email
    = f.input :phone
    = f.input :mobile
    = f.input :photo, :as => :file
    = f.input :portrait_url
    = f.input :portrait_thumb_url
    = f.input :flickr_url
    = f.input :twitter_url
    = f.input :facebook_url
    = f.input :linked_in_url
    = f.input :profile
  - f.buttons do
    = f.commit_button
