- error_handling_form_for(person) do |f|
  = f.text_field :name
  = f.text_field :job_title
  = f.text_field :email
  = f.text_field :phone
  = f.text_field :mobile
  = f.text_field :portrait_url
  = f.text_field :portrait_thumb_url
  = f.text_field :flickr_url
  = f.text_field :twitter_url
  = f.text_field :facebook_url
  = f.text_field :linked_in_url
  = f.text_area :profile
  = f.submit command
