- semantic_form_for person, :url => action_path, :html => {:multipart => true, :target => target_name} do |f|
  = f.semantic_errors :state

  - f.inputs do
    = f.input :name
    = f.input :job_title
    = f.input :profile
    %li.person= image_tag person.photo.url(:small)
    = f.input :photo, :as => :file
    = f.input :email
    = f.input :phone
    = f.input :mobile
    
  %h2 Social Media
  - f.semantic_fields_for :social_media do |sm|
    - sm.inputs do
      = sm.input :google_map_url
      = sm.input :flickr_url
      = sm.input :twitter_url
      = sm.input :facebook_url
      = sm.input :linked_in_url

  .nested-attributes
    %h2 Work Experience
    - f.semantic_fields_for :companies do |c|
      = render :partial => 'company', :locals => {:f => c}

  - if permitted_to? :create, Company.new(:person => person)
    .new-child= add_child_link 'New company', :companies, :class => 'add-person-company'
    = new_child_fields_template f, :companies

  .nested-attributes
    %h2 Technical Skills
    - f.semantic_fields_for :skills do |sk|
      = render :partial => 'skill', :locals => {:f => sk}

  -if permitted_to? :create, Skill.new(:person => person)
    .new-child= add_child_link 'New skill', :skills, :class => 'add-person-skill'
    = new_child_fields_template f, :skills

  .nested-attributes
    %h2 Education
    - f.semantic_fields_for :schools do |sc|
      = render :partial => 'school', :locals => {:f => sc}

  - if permitted_to? :create, School.new(:person => person)
    .new-child= add_child_link 'New school', :schools, :class => 'add-person-school'
    = new_child_fields_template f, :schools

  - f.buttons do
    = f.commit_button
  %iframe#upload_frame{:name => 'upload_frame', :style => 'width:1px;height:1px;border:0px'}
