#personal
  .cv-section.first-cv-section.fixed
    = render :partial => 'person', :object => item
    = render :partial => 'contact', :object => item

  .cv-section.fixed
    %h2.cv-section-name Professional Profile
    .cv-section-items
      = render :partial => 'profile', :object => item

- if current_user
  %ul.options
    - if !current_page?(item) and permitted_to? :read, item
      %li= link_to 'View person', item
    - if permitted_to? :update, item
      %li= link_to 'Edit person', edit_person_path(item), :class => 'remote-link', :title => 'Edit person'
    - if permitted_to? :delete, item
      %li= link_to 'Delete person', delete_person_path(item), :class => 'remote-link', :title => 'Delete person'
- elsif !current_page?(item) and permitted_to? :read, item
  %ul.options
    %li= link_to 'View person', item

- content_for :javascript do
  = dynamic_tooltip_javascript_for '#personal', 'top right'

