.cv-section.first-cv-section.fixed
  = render :partial => 'person', :object => item
  = render :partial => 'contact', :object => item
  - if current_user
    .tr-options
      = link_to 'Edit', edit_person_path(item)
      |
      = link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
  - else
    .tr-options
      = link_to 'Show', item
.cv-section.fixed
  %h2.cv-section-name Professional Profile
  .cv-section-items
    = render :partial => 'profile', :object => item

