- summarize = false if summarize.nil?

- person_id = "person_#{item.id}"
%li{:id => person_id}
  .personal
    .cv-section.first-cv-section.fixed
      = render :partial => 'person', :object => item
      = render :partial => 'contact', :object => item

    .cv-section.fixed
      .cv-section-name
        %h2 Professional Profile
      .cv-section-items
        = render :partial => 'profile', :object => item

  - if user_signed_in? and permitted_to? [:manage, :read], item 
    %ul.options
      - if !current_page?(item) and permitted_to? :read, item
        %li= link_to "View #{item.name}", item
      - if permitted_to? :update, item
        %li= link_to "Edit #{item.name}", edit_person_path(item), :class => 'remote-link', :title => "Edit #{item.name}"
      - if permitted_to? :delete, item
        %li= link_to "Delete #{item.name}", delete_person_path(item), :class => 'remote-link', :title => "Delete #{item.name}"

    - content_for :javascript do
      = dynamic_tooltip_javascript_for "##{person_id} > .personal", :position => 'top right'

  - unless summarize
    .cv-section.fixed.companies
      .cv-section-name
        %h2 Work Experience

        - if item.companies.count > 0
          = image_tag('/images/statistics_32.png', :id => 'work_timeline_icon')
          #work_timeline
          = visualize_timeline(item.companies, 'work_timeline')

          - content_for :javascript do
            = dynamic_tooltip_javascript_for '#work_timeline_icon', :position => 'center right'

      .cv-section-items

        - companies_id = "person_#{item.id}_companies"
        %ul{:id => companies_id}
          = render :partial => 'companies/item', :collection => item.companies

    - if user_signed_in? and permitted_to? :create, Company.new(:person => item)
      %ul.options
        %li= link_to 'New company', new_person_company_path(item), :class => 'remote-link', :title => 'New company'

      - content_for :javascript do
        = dynamic_tooltip_javascript_for '.companies', :position => 'top left'

    .cv-section.fixed.skills
      .cv-section-name
        %h2 Technical Skills

        - if item.skills_by_category.count > 0
          = image_tag('/images/category_32.png', :id => 'skills_summary_icon')
          #skills_summary= summarize_skills_by_category(item.skills_by_category)

          - content_for :javascript do
            = dynamic_tooltip_javascript_for '#skills_summary_icon', :position => 'center right'

      .cv-section-items
        - skills_id = "person_#{item.id}_skills"
        %ul{:id => skills_id}
          = render :partial => 'skills/item', :collection => item.skills, :locals => {:skill_count => item.skills.count}

        - if user_signed_in? and permitted_to? :reposition, :skills
          - content_for :javascript do
            = sortable_javascript_for "##{skills_id}", 'li', "&person_id=#{item.id}", reposition_person_skills_url(item)

    - if user_signed_in? and permitted_to? :create, Skill.new(:person => item)
      %ul.options
        %li= link_to 'New skill', new_person_skill_path(item), :class => 'remote-link', :title => 'New skill'

      - content_for :javascript do
        = dynamic_tooltip_javascript_for '.skills', :position => 'top left'

    .cv-section.last-cv-section.fixed.schools
      .cv-section-name
        %h2 Education

        - if item.schools.count > 0
          = image_tag('/images/statistics_32.png', :id => 'education_timeline_icon')
          #education_timeline
          = visualize_timeline(item.schools, 'education_timeline')

          - content_for :javascript do
            = dynamic_tooltip_javascript_for '#education_timeline_icon', :position => 'center right'

      .cv-section-items
        - schools_id = "person_#{item.id}_schools"
        %ul{:id => schools_id}
          = render :partial => 'schools/item', :collection => item.schools

    - if user_signed_in? and permitted_to? :create, School.new(:person => item)
      %ul.options
        %li= link_to 'New school', new_person_school_path(item), :class => 'remote-link', :title => 'New school'

      - content_for :javascript do
        = dynamic_tooltip_javascript_for '.schools', :position => 'top left'

