%div{:id => ['person', item.id]}
  .cv-section.first-cv-section.fixed
    = render :partial => 'person', :object => item
    = render :partial => 'contact', :object => item

    - if current_user
      .tr-options
        - if !current_page?(item) and permitted_to? :read, item
          = link_to 'View', item
        - if permitted_to? :update, item
          = link_to 'Edit', edit_person_path(item), :class => 'remote-link', :title => 'Edit person'
        - if permitted_to? :delete, item
          = link_to 'Delete', delete_person_path(item), :class => 'remote-link', :title => 'Delete person'
    - elsif !current_page?(item) and permitted_to? :read, item
      .tr-options
        = link_to 'View', item

  .cv-section.fixed
    %h2.cv-section-name Professional Profile
    .cv-section-items
      = render :partial => 'profile', :object => item

