- content_for(:title) do
  = h @person.name.upcase

= render :partial => 'item', :object => @person

.cv-section.fixed
  %h2.cv-section-name Work Experience
  .cv-section-items
    #companies
      = render :partial => 'companies/item', :collection => @person.companies,
        :locals => {:total => @person.companies.length}

    - if current_user
      .tl-options
        = link_to 'New', new_person_company_path(@person), :class => 'remote-link', :title => 'New company'

.cv-section.fixed
  %h2.cv-section-name Technical Skills
  .cv-section-items
    %div#skills
      = render :partial => 'skills/item', :collection => @person.skills,
        :locals => {:total => @person.skills.length}

      = content_for :javascript do
        :javascript
          $(function() {
            $("#skills").sortable({
              axis: "y",
              dropOnEmpty: false,
              handle: ".handle",
              cursor: "crosshair",
              items: ".skill",
              opacity: 0.4,
              scroll: true,
              update: function() {
                $.ajax({
                  type: "put",
                  data: $("#skills").sortable("serialize") + "&person_id=#{@person.id}",
                  dataType: "script",
                  complete: function(request){
                    $("#skills").effect("highlight");
                  },
                  url: "#{sort_person_skills_url(@person)}"
                });
              }
            });
            $("#skills").disableSelection();
          });

    - if current_user
      .tl-options
        = link_to 'New', new_person_skill_path(@person), :class => 'remote-link', :title => 'New skill'

.cv-section.last-cv-section.fixed
  %h2.cv-section-name Education
  .cv-section-items
    #schools
      = render :partial => 'schools/item', :collection => @person.schools,
        :locals => {:total => @person.schools.length}

    - if current_user
      .tl-options
        = link_to 'New', new_person_school_path(@person), :class => 'remote-link', :title => 'New school'
