%p
  %strong Name:
  = h @person.name
%p
  %strong Job title:
  = h @person.job_title
%p
  %strong Email:
  = h @person.email
%p
  %strong Phone:
  = h @person.phone
%p
  %strong Mobile:
  = h @person.mobile
%p
  %strong Portrait url:
  = h @person.portrait_url
%p
  %strong Portrait thumb url:
  = h @person.portrait_thumb_url
%p
  %strong Flickr url:
  = h @person.flickr_url
%p
  %strong Twitter url:
  = h @person.twitter_url
%p
  %strong Facebook url:
  = h @person.facebook_url
%p
  %strong LinkedIn url:
  = h @person.linked_in_url
%p
  %strong Profile:
  = h @person.profile
= link_to 'Edit', edit_person_path(@person) 
|
= link_to 'Back', people_path