- content_for(:title) do
  = h @person.name.upcase

= render :partial => 'item', :object => @person

.cv-section.fixed
  %h2.cv-section-name Work Experience
  .cv-section-items

    - companies_id = "person_#{@person.id}_companies"
    %div{:id => companies_id}
      = render :partial => 'companies/item', :collection => @person.companies,
        :locals => {:total => @person.companies.length}

    - if permitted_to? :create, :companies
      .tl-options
        = link_to 'New', new_person_company_path(@person), :class => 'remote-link', :title => 'New company'

.cv-section.fixed
  %h2.cv-section-name Technical Skills
  .cv-section-items

    - skills_id = "person_#{@person.id}_skills"
    %div{:id => skills_id}
      = render :partial => 'skills/item', :collection => @person.skills,
        :locals => {:total => @person.skills.length}

      = content_for :javascript do
        :javascript
          $(function() {
            $("##{skills_id}").sortable({
              axis: "y",
              dropOnEmpty: false,
              handle: ".block-handle",
              cursor: "crosshair",
              items: ".skill",
              opacity: 0.4,
              scroll: true,
              placeholder: "ui-state-highlight",
              update: function() {
                $.ajax({
                  type: "put",
                  data: $("##{skills_id}").sortable("serialize") + "&person_id=#{@person.id}",
                  dataType: "script",
                  complete: function(request){
                    $("##{skills_id}").effect("highlight");
                  },
                  url: "#{sort_person_skills_url(@person)}"
                });
              }
            });
            $("##{skills_id}").disableSelection();
          });

    - if permitted_to? :create, :skills
      .tl-options
        = link_to 'New', new_person_skill_path(@person), :class => 'remote-link', :title => 'New skill'

.cv-section.last-cv-section.fixed
  %h2.cv-section-name Education
  .cv-section-items

    - schools_id = "person_#{@person.id}_schools"
    %div{:id => schools_id}
      = render :partial => 'schools/item', :collection => @person.schools,
        :locals => {:total => @person.schools.length}

    - if permitted_to? :create, :schools
      .tl-options
        = link_to 'New', new_person_school_path(@person), :class => 'remote-link', :title => 'New school'
