- content_for(:title) do
  = h @person.name.upcase

%div{:id => ['person', @person.id]}
  = render :partial => 'item', :object => @person

  .cv-section.fixed.companies
    %h2.cv-section-name Work Experience
    .cv-section-items

      - companies_id = "person_#{@person.id}_companies"
      %ul{:id => companies_id}
        = render :partial => 'companies/item', :collection => @person.companies

  - if current_user
    %ul.options
      - if permitted_to? :create, :companies
        %li= link_to 'New company', new_person_company_path(@person), :class => 'remote-link', :title => 'New company'

    - content_for :javascript do
      = dynamic_tooltip_javascript_for '.companies', 'top left'

  .cv-section.fixed.skills
    %h2.cv-section-name Technical Skills
    .cv-section-items

      - skills_id = "person_#{@person.id}_skills"
      %ul{:id => skills_id}
        = render :partial => 'skills/item', :collection => @person.skills, :locals => {:skill_count => @person.skills.count}

      - if current_user and permitted_to? :reposition, :skills
        - content_for :javascript do
          = sortable_javascript_for "&person_id=#{@person.id}", "##{skills_id}", 'li', reposition_person_skills_url(@person)

  - if current_user
    %ul.options
      - if permitted_to? :create, :skills
        %li= link_to 'New skill', new_person_skill_path(@person), :class => 'remote-link', :title => 'New skill'

    - content_for :javascript do
      = dynamic_tooltip_javascript_for '.skills', 'top left'

  .cv-section.last-cv-section.fixed.schools
    %h2.cv-section-name Education
    .cv-section-items

      - schools_id = "person_#{@person.id}_schools"
      %ul{:id => schools_id}
        = render :partial => 'schools/item', :collection => @person.schools

  - if current_user
    %ul.options
      - if permitted_to? :create, :schools
        %li= link_to 'New school', new_person_school_path(@person), :class => 'remote-link', :title => 'New school'

    - content_for :javascript do
      = dynamic_tooltip_javascript_for '.schools', 'top left'

