<p>
  <b>Name:</b>
  <%= h @person.name %>
</p>

<p>
  <b>Job title:</b>
  <%= h @person.job_title %>
</p>

<p>
  <b>Email:</b>
  <%= h @person.email %>
</p>

<p>
  <b>Phone:</b>
  <%= h @person.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= h @person.mobile %>
</p>

<p>
  <b>Portrait url:</b>
  <%= h @person.portrait_url %>
</p>

<p>
  <b>Portrait thumb url:</b>
  <%= h @person.portrait_thumb_url %>
</p>

<p>
  <b>Flickr url:</b>
  <%= h @person.flickr_url %>
</p>

<p>
  <b>Twitter url:</b>
  <%= h @person.twitter_url %>
</p>

<p>
  <b>Facebook url:</b>
  <%= h @person.facebook_url %>
</p>

<p>
  <b>LinkedIn url:</b>
  <%= h @person.linked_in_url %>
</p>

<p>
  <b>Profile:</b>
  <%= h @person.profile %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>