- item_counter = task_count = 0 if task_count.nil?

%li{:id => ['task', item.id]}
  %span.handle= h item.description

  - if current_user and permitted_to? :reposition, item
    %span.move-actions
      - if item_counter > 0
        %span= link_to 'Move top', move_top_person_company_project_task_path(item.project.company.person, item.project.company, item.project, item), :class => 'ui-icon ui-icon-arrowstop-1-n'
        %span= link_to 'Move up', move_up_person_company_project_task_path(item.project.company.person, item.project.company, item.project, item), :class => 'ui-icon ui-icon-arrow-1-n'
      - if item_counter < task_count - 1
        %span= link_to 'Move down', move_down_person_company_project_task_path(item.project.company.person, item.project.company, item.project, item), :class => 'ui-icon ui-icon-arrow-1-s'
        %span= link_to 'Move bottom', move_bottom_person_company_project_task_path(item.project.company.person, item.project.company, item.project, item), :class => 'ui-icon ui-icon-arrowstop-1-s'
