%p
  %strong Person:
  = h @task.project.company.person.name
%p
  %strong Company:
  = h @task.project.company.name
%p
  %strong Project:
  = h @task.project.name
%p
  %strong Description:
  = h @task.description

- if permitted_to? :update, @task
  = link_to 'Edit', edit_person_company_project_task_path(@person, @company, @project, @task)
- if permitted_to? :read, @task
  = link_to 'Back', person_company_project_tasks_path(@person, @company, @project)
