- semantic_form_for user do |f|
  - f.inputs do
    = f.input :username
    = f.input :email
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
    = f.input :roles, :as => :check_boxes
  - f.buttons do
    = f.commit_button
