- item_counter = skill_count = 0 if skill_count.nil?

- skill_id = "skill_#{item.id}"
%li.item{:id => skill_id}
  .skill.handle
    %h4= item.level
    %h2
      %a{:name => "#{item.name}"}= item.name
    %br
    %p= item.description

    - if user_signed_in? and permitted_to? :reposition, item
      .move-actions
        - if item_counter > 0
          %span= link_to 'Move top', move_top_person_skill_path(item.person, item), :class => 'ui-icon ui-icon-arrowstop-1-n'
          %span= link_to 'Move up', move_up_person_skill_path(item.person, item), :class => 'ui-icon ui-icon-arrow-1-n'
        - if item_counter < skill_count - 1
          %span= link_to 'Move down', move_down_person_skill_path(item.person, item), :class => 'ui-icon ui-icon-arrow-1-s'
          %span= link_to 'Move bottom', move_bottom_person_skill_path(item.person, item), :class => 'ui-icon ui-icon-arrowstop-1-s'

  - if user_signed_in?
    %ul.options
      - if permitted_to? :update, item
        %li= link_to 'Edit skill', edit_person_skill_path(item.person, item), :class => 'remote-link', :title => 'Edit skill'
      - if permitted_to? :delete, item
        %li= link_to 'Delete skill', delete_person_skill_path(item.person, item), :class => 'remote-link', :title => 'Delete skill'
                                                                                            
    - content_for :javascript do
      = dynamic_tooltip_javascript_for "##{skill_id} > .skill", :position => 'top right'

