<h1>Listing skills</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Name</th>
    <th>Level</th>
    <th>Description</th>
  </tr>

  <% @skills.each do |skill| %>
      <tr>
        <td><%= h skill.person.name %></td>
        <td><%= h skill.name %></td>
        <td><%= h skill.level %></td>
        <td><%= h skill.description %></td>
        <td><%= link_to 'Show', person_skill_path(@person, skill) %></td>
        <td><%= link_to 'Edit', edit_person_skill_path(@person, skill) %></td>
        <td><%= link_to 'Destroy', person_skill_path(@person, skill),
                        :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New skill', new_person_skill_path(@person) %>