%h1 Listing skills
%table
  %tr
    %th Person
    %th Name
    %th Level
    %th Description
  - @skills.each do |skill|
    %tr
      %td= h skill.person.name
      %td= h skill.name
      %td= h skill.level
      %td= h skill.description
      %td= link_to 'Show', person_skill_path(@person, skill)
      %td= link_to 'Edit', edit_person_skill_path(@person, skill)
      %td= link_to 'Destroy', person_skill_path(@person, skill),
        :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New skill', new_person_skill_path(@person) 