%p
  %strong Person:
  = h @skill.person.name 
%p
  %strong Name:
  = h @skill.name 
%p
  %strong Level:
  = h @skill.level 
%p
  %strong Description:
  = h @skill.description

- if permitted_to? :update, @skill
  = link_to 'Edit', edit_person_skill_path(@person, @skill)
- if permitted_to? :read, @skill
  = link_to 'Back', person_skills_path(@person)
