%div{:class => [:item, company_counter == total - 1 ? 'last-item' : '']}
  %h4 #{h company.start_date.to_s(:month_and_year)} - #{h company.end_date.to_s(:year_only)}
  %h2= h company.name
  %h5= h company.role
  %h3= h company.business_type
  = render :partial => 'project', :collection => company.projects
