<div id="contact-info">
  <ul id="social-media">
    <li>
      <a href="<%= h contact.flickr_url %>" title="Flickr Profile" class="tip">
        <img src="/images/social-icons/flickr.png" alt="flickr icon"/>
      </a>
    </li>
    <li>
      <a href="<%= h contact.twitter_url %>" title="Twitter Profile" class="tip">
        <img src="/images/social-icons/twitter.png" alt="twitter icon"/>
      </a>
    </li>
    <li>
      <a href="<%= h contact.facebook_url %>" title="Facebook Profile" class="tip">
        <img src="/images/social-icons/facebook.png" alt="facebook icon"/>
      </a>
    </li>
    <li>
      <a href="<%= h contact.linked_in_url %>" title="Linked InProfile" class="tip">
        <img src="/images/social-icons/linkedin.png" alt="linkedin icon"/>
      </a>
    </li>
  </ul>
  <table>
    <tr>
      <td>e:</td>
      <td><a href="mailto:<%= h contact.email %>"><%= h contact.email %></a></td>
    </tr>
    <tr>
      <td>t:</td>
      <td><strong><%= h contact.phone %></strong></td>
    </tr>
    <tr>
      <td>m:</td>
      <td><strong><%= h contact.mobile %></strong></td>
    </tr>
  </table>
</div>