<div class="item">
  <h4><%= h school.date_from.to_s(:short) %> - <%= h school.date_to.to_s(:short) %></h4>

  <h2><%= h school.name %></h2>

  <h3><%= h school.course %></h3>

  <h5><%= h school.result %></h5>
</div>