<div class="item<%= " last-item" if school_counter == total - 1 %>">
  <h4><%= h format_date_as_year(school.date_from) %> -
    <%= h format_date_as_year(school.date_to) %></h4>

  <h2><%= h school.name %></h2>

  <h3><%= h school.course %></h3>

  <div class="result"><%= h school.result %></div>
</div>