%div{:class => [:item, school_counter == total - 1 ? 'last-item' : '']}
  %h4 #{h school.date_from.to_s(:year_only)} - #{h school.date_to.to_s(:year_only)}
  %h2= h school.name
  %h3= h school.course
  .result= h school.result
