<div class="item<%= " last-item" if school_counter == total - 1 %>">
  <h4><%= h school.date_from.to_s(:year_only) %> -
    <%= h school.date_to.to_s(:year_only) %></h4>

  <h2><%= h school.name %></h2>

  <h3><%= h school.course %></h3>

  <div class="result"><%= h school.result %></div>
</div>