<div class="cv-section first-cv-section fixed">
  <div class="person">
    <a class="lightbox" rel="mypics" href="/images/portrait_guy.jpg" title="<%= h @person.name %>">
      <img src="/images/portrait_guy.jpg" width="100" alt="<%= h @person.name %>"/>
    </a>

    <h1><%= h @person.name %></h1>

    <h2><%= h @person.job_title %></h2>
  </div>
  <div id="contact-info">
    <ul id="social-media">
      <li><a href="#" title="Flickr Profile" class="tip"><img src="/images/social-icons/flickr.png"
                                                              alt="flickr icon"/></a></li>
      <li><a href="#" title="Twitter Profile" class="tip"><img src="/images/social-icons/twitter.png"
                                                               alt="twitter icon"/></a></li>
      <li><a href="#" title="Facebook Profile" class="tip"><img src="/images/social-icons/facebook.png"
                                                                alt="facebook icon"/></a></li>
      <li><a href="#" title="Linked InProfile" class="tip"><img src="/images/social-icons/linkedin.png"
                                                                alt="linkedin icon"/></a></li>
      <li><a href="#" title="Send me a message" class="tip"><img src="/images/social-icons/yahoo.png"
                                                                 alt="contact me"/></a></li>
    </ul>
    <ul>
      <li>e: <a href="mailto:<%= h @person.email %>"><%= h @person.email %></a></li>
      <li>t: <strong><%= h @person.phone %></strong></li>
      <li>m: <strong><%= h @person.mobile %></strong></li>
    </ul>
  </div>
</div>
<div class="cv-section fixed">
  <h2 class="cv-section-name">Professional Profile</h2>

  <div class="cv-section-items">
    <div class="item last-item">
      <p><%= h @person.profile %></p>
    </div>
  </div>
</div>
<div class="cv-section fixed">
  <h2 class="cv-section-name">Work Experience</h2>

  <div class="cv-section-items">
    <%= render :partial => 'company', :collection => @person.companies %>
  </div>
</div>
<div class="cv-section fixed">
  <h2 class="cv-section-name">Technical Skills</h2>

  <div class="cv-section-items">
    <%= render :partial => 'skill', :collection => @person.skills %>
  </div>
</div>
<div class="cv-section last-cv-section fixed">
  <h2 class="cv-section-name">Education</h2>

  <div class="cv-section-items">
    <%= render :partial => 'school', :collection => @person.schools %>
  </div>
</div>
