<% error_handling_form_for([person, company, project]) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <div id="responsibilities">
      <%= render :partial => 'responsibility', :collection => project.responsibilities %>
    </div>
    <p>
      <%= add_responsibility_link "Add a responsibility" %>
    </p>
    <%= f.submit command %>
<% end %>
