- semantic_form_for([person, company, project]) do |f|
  - f.inputs do
    = f.input :name
    = f.input :description
    = f.input :skills, :as => :check_boxes, :collection => person.skills

  - f.semantic_fields_for :tasks, :name => 'Tasks' do |t|
    #tasks
      = render :partial => 'task', :locals => {:f => t}

  - if permitted_to? :create, :tasks    
    %p= add_child_link 'New task', :tasks, :class => 'add-person-company-project-task'
    = new_child_fields_template f, :tasks

  - f.buttons do
    = f.commit_button

