- semantic_form_for([person, company, project]) do |f|
  = f.semantic_errors :state

  = render :partial => 'fields', :object => f

  - if person.skills.count > 0
    - f.inputs do
      = f.input :skills, :as => :check_boxes, :collection => person.skills

  .nested-attributes
    %h2 Tasks
    - f.semantic_fields_for :tasks do |t|
      = render :partial => 'task', :locals => {:f => t}

  - if permitted_to? :create, Task.new(:project => project)    
    .new-child= add_child_link 'New task', :tasks, :class => 'add-person-company-project-task'
    = new_child_fields_template f, :tasks

  - f.buttons do
    = f.commit_button

