<% form_for([person, company, project]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <div id="responsibilities">
      <%= render :partial => 'responsibility', :collection => project.responsibilities %>
    </div>
    <p>
      <%= add_responsibility_link  "Add a responsibility" %>
    </p>
    <p>
      <%= f.submit command %>
    </p>
<% end %>
