%div{:id => ['project', item.id], :class => 'project'}

  %h6= h item.name

  - if current_user
    .tr-options
      - if permitted_to? :update, item
        = link_to 'Edit', edit_person_company_project_path(item.company.person, item.company, item), :class => 'remote-link', :title => 'Edit project'
      - if permitted_to? :delete, item
        = link_to 'Delete', delete_person_company_project_path(item.company.person, item.company, item), :class => 'remote-link', :title => 'Delete project'

  %p= h item.description

  - tasks_id = "person_#{item.company.person.id}_company_#{item.company.id}_project_#{item.id}_tasks"
  %ul{:id => tasks_id}
    = render :partial => 'tasks/item', :collection => item.tasks

    = content_for :javascript do
      :javascript
        $(function() {
          $("##{tasks_id}").sortable({
            axis: "y",
            dropOnEmpty: false,
            handle: ".list-handle",
            cursor: "crosshair",
            items: ".task",
            opacity: 0.4,
            scroll: true,
            placeholder: "ui-state-highlight",
            update: function() {
              $.ajax({
                type: "put",
                data: $("##{tasks_id}").sortable("serialize") + "&person_id=#{item.company.person.id}&company_id=#{item.company.id}&project_id=#{item.id}",
                dataType: "script",
                complete: function(request){
                  $("##{tasks_id}").effect("highlight");
                },
                url: "#{sort_person_company_project_tasks_url(item.company.person, item.company, item)}"
              });
            }
          });
          $("##{tasks_id}").disableSelection();
        });

  - skills_id = "person_#{item.company.person.id}_company_#{item.company.id}_project_#{item.id}_skills"
  %ul{:id => skills_id, :class => 'repeater'}
    = render :partial => 'projects/skill', :collection => item.skills unless item.skills.nil?
