- item_counter = project_count = 0 if project_count.nil?

- project_id = "project_#{item.id}"
%li{:id => project_id}
  .project
    %h6.handle
      = h item.name

      - if user_signed_in? and permitted_to? :reposition, item
        %span.move-actions
          - if item_counter > 0
            %span= link_to 'Move top', move_top_person_company_project_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrowstop-1-n'
            %span= link_to 'Move up', move_up_person_company_project_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrow-1-n'
          - if item_counter < project_count - 1
            %span= link_to 'Move down', move_down_person_company_project_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrow-1-s'
            %span= link_to 'Move bottom', move_bottom_person_company_project_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrowstop-1-s'

    .panel
      %p= h item.description

      - if item.skills.count > 0
        - skills_id = "person_#{item.company.person.id}_company_#{item.company.id}_project_#{item.id}_skills"
        %ul.repeater{:id => skills_id}
          = render :partial => 'projects/skill', :collection => item.skills

      - if item.tasks.count > 0
        - tasks_id = "person_#{item.company.person.id}_company_#{item.company.id}_project_#{item.id}_tasks"
        %ul.list{:id => tasks_id}
          = render :partial => 'tasks/item', :collection => item.tasks, :locals => {:task_count => item.tasks.count}

          - if user_signed_in? and permitted_to? :reposition, :tasks
            - content_for :javascript do
              = sortable_javascript_for "##{tasks_id}", 'li', "&person_id=#{item.company.person.id}&company_id=#{item.company.id}&project_id=#{item.id}", reposition_person_company_project_tasks_url(item.company.person, item.company, item)

      - if user_signed_in?
        .update-actions
          - if permitted_to? :create, :tasks
            = link_to 'New task', new_person_company_project_task_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-plus'

  - if user_signed_in?
    %ul.options
      - if permitted_to? :update, item
        %li= link_to 'Edit project', edit_person_company_project_path(item.company.person, item.company, item), :class => 'remote-link', :title => 'Edit project'
      - if permitted_to? :delete, item
        %li= link_to 'Delete project', delete_person_company_project_path(item.company.person, item.company, item), :class => 'remote-link', :title => 'Delete project'

    - content_for :javascript do
      = dynamic_tooltip_javascript_for "##{project_id} > .project"

