<h1>Listing projects</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Company</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= h project.company.person.name %></td>
        <td><%= h project.company.name %></td>
        <td><%= h project.name %></td>
        <td><%= h project.description %></td>
        <td><%= link_to 'Show', person_company_project_path(@person, @company, project) %></td>
        <td><%= link_to 'Edit', edit_person_company_project_path(@person, @company, project) %></td>
        <td><%= link_to 'Destroy', person_company_project_path(@person, @company, project), 
                        :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New project', new_person_company_project_path(@person, @company) %>