- fields.inputs do
  = fields.input :name
  = fields.input :role
  = fields.input :business_type
  = fields.input :start_date, :as => :date,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true
  = fields.input :end_date, :as => :date,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true
