- semantic_form_for([person, company]) do |f|
  = f.semantic_errors :state

  = render :partial => 'fields', :object => f

  - f.semantic_fields_for :responsibilities do |r|
    #responsibilities
      = render :partial => 'responsibility', :locals => {:f => r}

  - if permitted_to? :create, :responsibilities
    .new-child= add_child_link 'New responsibility', :responsibilities, :class => 'add-person-company-responsibility'
    = new_child_fields_template f, :responsibilities

  - f.semantic_fields_for :projects do |p|
    #projects
      = render :partial => 'project', :locals => {:f => p}

  -if permitted_to? :create, :projects
    .new-child= add_child_link 'New project', :projects, :class => 'add-person-company-project'
    = new_child_fields_template f, :projects

  - f.buttons do
    = f.commit_button
