- semantic_form_for([person, company]) do |f|
  = f.semantic_errors :state

  = render :partial => 'fields', :object => f

  .nested-attributes
    %h2 Responsibilities
    - f.semantic_fields_for :responsibilities do |r|
      = render :partial => 'responsibility', :locals => {:f => r}

  - if permitted_to? :create, Responsibility.new(:company => company)
    .new-child= add_child_link 'New responsibility', :responsibilities, :class => 'add'
    = new_child_fields_template f, :responsibilities

  .nested-attributes
    %h2 Projects
    - f.semantic_fields_for :projects do |p|
      = render :partial => 'project', :locals => {:f => p}

  -if permitted_to? :create, Project.new(:company => company)
    .new-child= add_child_link 'New project', :projects, :class => 'add'
    = new_child_fields_template f, :projects

  - f.buttons do
    = f.commit_button
