- error_handling_form_for([person, company]) do |f|
  = f.text_field :name
  = f.text_field :role
  = f.text_field :business_type
  = f.date_select :start_date,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true
  = f.date_select :end_date,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true

  %h3 Responsibilities
  - f.fields_for :responsibilities do |r|
    #responsibilities
      = render :partial => 'responsibility', :locals => {:f => r}
  %p= add_child_link 'New responsibility', :responsibilities, :class => 'add_responsibility'
  = new_child_fields_template f, :responsibilities

  %h3 Projects
  - f.fields_for :projects do |p|
    #projects
      = render :partial => 'project', :locals => {:f => p}
  %p= add_child_link 'New project', :projects, :class => 'add_project'
  = new_child_fields_template f, :projects

  = f.submit command
