- semantic_form_for([person, company]) do |f|
  - f.inputs do
    = f.input :name
    = f.input :role
    = f.input :business_type
    = f.input :start_date, :as => :date,
      :start_year => Time.now.year - 30, :end_year => Time.now.year,
      :discard_day => true
    = f.input :end_date, :as => :date,
      :start_year => Time.now.year - 30, :end_year => Time.now.year,
      :discard_day => true

  - f.semantic_fields_for :responsibilities, :name => 'Responsibilities' do |r|
    #responsibilities
      = render :partial => 'responsibility', :locals => {:f => r}

  - if permitted_to? :create, :responsibilities
    %p= add_child_link 'New responsibility', :responsibilities, :class => 'add-person-company-responsibility'
    = new_child_fields_template f, :responsibilities

  - f.semantic_fields_for :projects, :name => 'Projects' do |p|
    #projects
      = render :partial => 'project', :locals => {:f => p}

  -if permitted_to? :create, :projects
    %p= add_child_link 'New project', :projects, :class => 'add-person-company-project'
    = new_child_fields_template f, :projects

  - f.buttons do
    = f.commit_button
