%div{:id => ['company', item.id], :class => 'company'}
  %div{:class => [:item, (defined?(current) && defined?(total) && current == total - 1 ? 'last-item' : '')]}
    %h4 #{h item.start_date.to_s(:month_and_year)} - #{h item.end_date.to_s(:month_and_year)}
    %h2= h item.name

    - if current_user
      .br-options
        = link_to 'Edit', edit_person_company_path(item.person, item), :class => 'remote-link', :title => 'Edit company'
        |
        = link_to 'Delete', delete_person_company_path(item.person, item), :class => 'remote-link', :title => 'Delete company'

    %h5= h item.role
    %h3= h item.business_type

    - responsibilities_id = "person_#{item.person.id}_company_#{item.id}_responsiblities"
    %ul{:id => responsibilities_id}
      = render :partial => 'responsibilities/item', :collection => item.responsibilities

      = content_for :javascript do
        :javascript
          $(function() {
            $("##{responsibilities_id}").sortable({
              axis: "y",
              dropOnEmpty: false,
              handle: ".handle",
              cursor: "crosshair",
              items: ".responsibility",
              opacity: 0.4,
              scroll: true,
              update: function() {
                $.ajax({
                  type: "put",
                  data: $("##{responsibilities_id}").sortable("serialize") + "&person_id=#{item.person.id}&company_id=#{item.id}",
                  dataType: "script",
                  complete: function(request){
                    $("##{responsibilities_id}").effect("highlight");
                  },
                  url: "#{sort_person_company_responsibilities_url(item.person, item)}"
                });
              }
            });
            $("##{responsibilities_id}").disableSelection();
          });

    #projects
      = render :partial => 'projects/item', :collection => item.projects

      - if current_user
        .bl-options
          = link_to 'New', new_person_company_project_path(item.person, item), :class => 'remote-link', :title => 'New project'
