%div{:id => ['company', item.id], :class => 'company'}
  %div{:class => [:item, (defined?(item_counter) && defined?(total) && item_counter == total - 1 ? 'last-item' : '')]}
    %h4 #{h item.start_date.to_s(:month_and_year)} - #{h item.end_date.to_s(:month_and_year)}
    %h2= h item.name

    - if current_user
      .br-options
        = link_to 'Edit', edit_person_company_path(item.person, item), :class => 'remote-link', :title => 'Edit company'
        |
        = link_to 'Delete', delete_person_company_path(item.person, item), :class => 'remote-link', :title => 'Delete company'

    %h5= h item.role
    %h3= h item.business_type

    = render :partial => 'projects/item', :collection => item.projects
