%div{:id => ['company', item.id], :class => 'company'}
  %div{:class => [:item, (defined?(current) && defined?(total) && current == total - 1 ? 'last-item' : '')]}
    %h4 #{h item.start_date.to_s(:month_and_year)} - #{h item.end_date.to_s(:month_and_year)}
    %h2= h item.name

    - if current_user
      .br-options
        = link_to 'Edit', edit_person_company_path(item.person, item), :class => 'remote-link', :title => 'Edit company'
        |
        = link_to 'Delete', delete_person_company_path(item.person, item), :class => 'remote-link', :title => 'Delete company'

    %h5= h item.role
    %h3= h item.business_type

    %ul
      = render :partial => 'responsibilities/item', :collection => item.responsibilities

    #projects
      = render :partial => 'projects/item', :collection => item.projects

      - if current_user
        .bl-options
          = link_to 'New', new_person_company_project_path(item.person, item), :class => 'remote-link', :title => 'New project'
