- company_id = "company_#{item.id}"
%li.item{:id => company_id}
  .company
    %h4= formatted_date_range item.start_date, item.end_date, :format => :month_and_year
    %h2= h item.name

    %h5= h item.role
    %h3= h item.business_type

    - if item.responsibilities.count > 0
      - responsibilities_id = "person_#{item.person.id}_company_#{item.id}_responsiblities"
      %ul.list{:id => responsibilities_id}
        = render :partial => 'responsibilities/item', :collection => item.responsibilities, :locals => {:responsibility_count => item.responsibilities.count}

        - if user_signed_in? and permitted_to? :reposition, :responsibilities
          - content_for :javascript do
            = sortable_javascript_for "##{responsibilities_id}", 'li', "&person_id=#{item.person.id}&company_id=#{item.id}", reposition_person_company_responsibilities_url(item.person, item)

    - if user_signed_in? and permitted_to? :create, Responsibility.new(:company => item)
      .update-actions
        = link_to 'New responsibility', new_person_company_responsibility_path(item.person, item), :class => 'ui-icon ui-icon-plus'

    - projects_id = "person_#{item.person.id}_company_#{item.id}_projects"
    - if item.projects.count > 0
      %ul.accordion{:id => projects_id}

        = render :partial => 'projects/item', :collection => item.projects, :locals => {:project_count => item.projects.count}

        - if permitted_to? :reposition, :projects
          - content_for :javascript do
            = sortable_javascript_for "##{projects_id}", 'li', "&person_id=#{item.person.id}&company_id=#{item.id}", reposition_person_company_projects_url(item.person, item)

    - if user_signed_in? and permitted_to? :create, Project.new(:company => item)
      %ul.options
        %li= link_to 'New project', new_person_company_project_path(item.person, item), :class => 'remote-link', :title => 'New project'

      - content_for :javascript do
        = dynamic_tooltip_javascript_for "##{projects_id}", :position => 'top left'

  - if user_signed_in? and permitted_to? :manage, item
    %ul.options
      - if permitted_to? :update, item
        %li= link_to "Edit #{item.name}", edit_person_company_path(item.person, item), :class => 'remote-link', :title => 'Edit company'
      - if permitted_to? :delete, item
        %li= link_to "Delete #{item.name}", delete_person_company_path(item.person, item), :class => 'remote-link', :title => 'Delete company'

    - content_for :javascript do
      = dynamic_tooltip_javascript_for "##{company_id} > .company", :position => 'top right'
