<h1>Editing company</h1>

<% form_for(@company) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :person_id %><br/>
      <%= f.select :person_id, @people %>
    </p>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :role %><br/>
      <%= f.text_field :role %>
    </p>
    <p>
      <%= f.label :business_type %><br/>
      <%= f.text_field :business_type %>
    </p>
    <p>
      <%= f.label :start_date %><br/>
      <%= f.date_select :start_date,
                        :start_year => Time.now.year - 30, :end_year => Time.now.year,
                        :discard_day => true %>
    </p>
    <p>
      <%= f.label :end_date %><br/>
      <%= f.date_select :end_date,
                        :start_year => Time.now.year - 30, :end_year => Time.now.year, 
                        :discard_day => true %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>