%h1 Listing companies
%table
  %tr
    %th Person
    %th Name
    %th Role
    %th Business type
    %th Start date
    %th End date
  - @companies.each do |company|
    %tr
      %td= h company.person.name
      %td= h company.name
      %td= h company.role
      %td= h company.business_type
      %td= h company.start_date
      %td= h company.end_date
      %td= link_to 'Show', person_company_path(@person, company) if permitted_to? :read, company
      %td= link_to 'Edit', edit_person_company_path(@person, company) if permitted_to? :update, company
      %td= link_to 'Destroy', person_company_path(@person, company),
        :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, company
%br
- if permitted_to? :create, :companies
  = link_to 'New company', new_person_company_path(@person)