- item_counter = responsibility_count = 0 if responsibility_count.nil?

- responsibility_id = "responsibility_#{item.id}"
%li{:id => responsibility_id}
  %span.handle= h item.description

  - if user_signed_in? and permitted_to? :manage, item
    %span.update-actions
      - if permitted_to? :edit, item
        %span= link_to 'Edit', edit_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-pencil remote-link', :title => "Edit #{item.description}"
      - if permitted_to? :delete, item
        %span= link_to 'Delete', delete_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-close remote-link', :title => "Delete #{item.description}"

    - content_for :javascript do
      = show_update_actions_javascript_for "##{responsibility_id}"
    
  - if user_signed_in? and permitted_to? :reposition, item
    %span.move-actions
      - if item_counter > 0
        %span= link_to 'Move top', move_top_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrowstop-1-n'
        %span= link_to 'Move up', move_up_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrow-1-n'
      - if item_counter < responsibility_count - 1
        %span= link_to 'Move down', move_down_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrow-1-s'
        %span= link_to 'Move bottom', move_bottom_person_company_responsibility_path(item.company.person, item.company, item), :class => 'ui-icon ui-icon-arrowstop-1-s'
