<p>
  <b>Person:</b>
  <%= h @responsibility.project.company.person.name %>
</p>

<p>
  <b>Company:</b>
  <%= h @responsibility.project.company.name %>
</p>

<p>
  <b>Project:</b>
  <%= h @responsibility.project.name %>
</p>

<p>
  <b>Description:</b>
  <%= h @responsibility.description %>
</p>


<%= link_to 'Edit', edit_person_company_project_responsibility_path(@person, @company, @project, @responsibility) %> |
<%= link_to 'Back', person_company_project_responsibilities_path(@person, @company, @project) %>