.cv-section.fixed
  .cv-section-name
    %h2 Change your password
  .cv-section-items
    - semantic_form_for resource_name, resource, :url => password_path(resource_name), :html => {:method => :put} do |f|
      - f.inputs do
        = f.input :reset_password_token, :as => :hidden
        = f.input :password, :as => :password
        = f.input :password_confirmation, :as => :password

      - f.buttons do
        = f.commit_button 'Change my password'

= render :partial => 'shared/options'

