- error_handling_form_for([person, school]) do |f|
  = f.text_field :name
  = f.text_field :course
  = f.text_field :result
  = f.date_select :date_from,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true, :discard_month => true
  = f.date_select :date_to,
    :start_year => Time.now.year - 30, :end_year => Time.now.year,
    :discard_day => true, :discard_month => true
  = f.submit command 
