%div{:class => [:item, list_counter == total - 1 ? 'last-item' : '']}
  %h4 #{h list.date_from.to_s(:year_only)} - #{h list.date_to.to_s(:year_only)}
  %h2= h list.name
  %h3= h list.course
  .result= h list.result
