<h1>Editing school</h1>

<% form_for(@school) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :person_id %><br />
      <%= f.select :person_id, @people %>
    </p>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :course %><br/>
      <%= f.text_field :course %>
    </p>
    <p>
      <%= f.label :result %><br/>
      <%= f.text_field :result %>
    </p>
    <p>
      <%= f.label :date_from %><br/>
      <%= f.date_select :date_from %>
    </p>
    <p>
      <%= f.label :date_to %><br/>
      <%= f.date_select :date_to %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>