%h1 Listing schools
%table
  %tr
    %th Person
    %th Name
    %th Course
    %th Result
    %th Date from
    %th Date to
  - @schools.each do |school|
    %tr
      %td= h school.person.name 
      %td= h school.name 
      %td= h school.course 
      %td= h school.result 
      %td= h school.date_from 
      %td= h school.date_to 
      %td= link_to 'Show', person_school_path(@person, school) 
      %td= link_to 'Edit', edit_person_school_path(@person, school) 
      %td= link_to 'Destroy', person_school_path(@person, school),
        :confirm => 'Are you sure?', :method => :delete 
%br
= link_to 'New school', new_person_school_path(@person)