<h1>Listing schools</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Name</th>
    <th>Course</th>
    <th>Result</th>
    <th>Date from</th>
    <th>Date to</th>
  </tr>

  <% @schools.each do |school| %>
      <tr>
        <td><%= h school.person.name %></td>
        <td><%= h school.name %></td>
        <td><%= h school.course %></td>
        <td><%= h school.result %></td>
        <td><%= h school.date_from %></td>
        <td><%= h school.date_to %></td>
        <td><%= link_to 'Show', person_school_path(@person, school) %></td>
        <td><%= link_to 'Edit', edit_person_school_path(@person, school) %></td>
        <td><%= link_to 'Destroy', person_school_path(@person, school),
                        :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New school', new_person_school_path(@person) %>