<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= yield :title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content=" ... add description here ... "/>
  <meta name="keywords" content=" ... add keywords here ... "/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <%= stylesheet_link_tag 'screen', 'jquery.fancybox-1.2.6.css', 'tipsy' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if lt IE 7]>
  <%= javascript_include_tag 'DD_belatedPNG_0.0.7a-min.js' %>
  <![endif]-->
  <%= javascript_include_tag :defaults, 'jquery-1.4.2.min.js', 'cufon-yui.js', 'Aller.font.js',
                             'jquery.fancybox-1.2.6.pack.js', 'jquery.tipsy.js' %>
  <script type='text/javascript'>
      $(function() {
          Cufon.replace("h1");
          Cufon.replace(".item h2");
          Cufon.replace("h2.cv-section-name");
          Cufon.now();
          $("a.lightbox").fancybox({
              overlayOpacity  : 0.7,
              overlayColor    : "#333"
          });
          $(".tip").tipsy({gravity: "n"});
          $(".emailme").click(function() {
              $(".panel").toggle("fast");
              $(this).toggleClass("active");
              return false;
          });
      });
  </script>
</head>
<body>
<div id="cv">
  <%= yield %>
</div>
<div class="panel">
  <p id="formstatus"></p>

  <form id="contact-form" action="javascript:alert('success!');">
    <fieldset>
      <p>
        <input class="textbox" type="text" name="name" value="Name*"
               onfocus="if(this.value=='Name*')this.value='';" onblur="if(this.value=='')this.value='Name*';"/>
      </p>

      <p>
        <input class="textbox" type="text" name="email" value="Email*"
               onfocus="if(this.value=='Email*')this.value='';"
               onblur="if(this.value=='')this.value='Email*';"/>
      </p>

      <p>
        <input class="textbox" type="text" name="subject" value="Subject*"
               onfocus="if(this.value=='Subject*')this.value='';"
               onblur="if(this.value=='')this.value='Subject*';"/>
      </p>

      <p>
        <textarea class="textbox" name="message" rows="3" cols="25"></textarea>
      </p>

      <p>
        <input class="btn" type="submit" name="submit" value="Send!"/>
      </p>
    </fieldset>
  </form>
</div>
<br/>
<br/>
<a class="emailme" href="#">Email Me</a>

</body>
</html>