!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield :title
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => " ... add description here ... "}
    %meta{:name => "keywords", :content => " ... add keywords here ... "}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "favicon.ico"}
    = stylesheet_link_tag 'screen', 'jquery-ui-1.8.2.custom.css', 'jquery.fancybox-1.2.6.css', 'tipsy'
    = stylesheet_link_tag 'print', :media => 'print'
    <!--[if lt IE 7]>
    = javascript_include_tag 'DD_belatedPNG_0.0.7a-min.js'
    <![endif]-->
    = javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js', 'application',
      'jquery.fancybox-1.2.6.pack.js', 'jquery.tipsy.js', 'cufon-yui.js', 'Aller.font.js'
    :javascript
      $(function(){
        replaceFonts("h1, h6, .item h2, h2.cv-section-name");
        initFancyBox("a.lightbox");
        initTipsy(".tip");
        bindRemoteLinks(initModalDialog("form-dialog"), ".remote-link");
      });
  %body
    #cv= yield
    .authme
      - if current_user
        = link_to 'Logout', logout_path
      - else
        = link_to 'Login', login_path, :class => 'remote-link', :title => 'Log in'
